body {
    background-color: rgb(179, 254, 184);
}

.form {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #45a049;
}

.form p {
    text-align: center;
    margin-top: 15px;
}